@model IEnumerable<MVCApps.Models.Group>

@{
    Layout = null;
}

<!DOCTYPE html>
<body>


    <form method="post">
        <input type="hidden" />
        <table>
            <a>@ViewBag.HTMLResultChangeNameGroup</a>
            <td><input type="submit" value="Вернуться к списку студентов." /> </td>
        </table>

    </form>
</body>